spring:
  application:
    name: ai-agent-backend
  profiles:
    active: local
  ai:
    vectorstore:
      pgvector:
        index-type: HNSW
        dimensions: 1536
        distance-type: COSINE_DISTANCE
        max-document-batch-size: 10000 # Optional: Maximum number of documents per batch
    ollama:
      base-url: http://localhost:11434
      chat:
        model: gemma3:1b

server:
  port: 8080
  servlet:
    context-path: /api

# 接口文档配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.wjq.aiagentbackend.controller
# 增强配置，不需要可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn
